.contact-form input::placeholder{
    opacity: 0.5;
    letter-spacing: 1px;
    color: white;
}
.contact-form{
      border: 1px solid rgba(255,255,255,0.01);
}
.contact-form input:focus{
    background: transparent;
    color: #F5F5F5;
    border: 1px solid #17d1ac ;
    outline: none;
    transition: all ease 0.5s;
}
.contact-form input{
    height: 30px;
    border: none;
    outline: none;
    background-color:transparent;
    border-bottom: 1px solid #8A2BE2;
    color:yellow;
    margin: 10px 0px;
}
.btn_submit {
    width: 100%;
    height: 50px;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;

}
.contact-form textarea{
    background: transparent;
    color: #61dafb;
    border: 1px solid #008000;
}
.contact-form textarea::placeholder{
    opacity: 0.5;
    letter-spacing: 1px;
    color: white;
}
.contact-form textarea:focus{
    background: transparent;
    color: #F5F5F5;
    border-bottom: 1px solid #17d1ac ;
    outline: none;
    transition: all ease 0.5s;
}